---
layout: compress
---

<script type="text/javascript">
  window.MathJax = {
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [['$$','$$'], ['\\(','\\)']],
      processEscapes: true
    },
    displayAlign: 'center',
    "HTML-CSS": {
        styles: {'.MathJax_Display': {"margin": 0}}
        },
    AuthorInit: function () {
      MathJax.Hub.Register.StartupHook("Begin",function () {
        MathJax.Hub.Queue(
          ["Typeset",MathJax.Hub]
        )
      });
    }
  };
</script>


{% assign assets_base_url = site.url %}
{% if site.cdn.jsdelivr.enabled %}
{% assign assets_base_url = "https://cdn.jsdelivr.net/gh/" | append: site.repository | append: '@master' %}
{% endif %}
{% assign assets_images_url = '<img src="' | append: assets_base_url | append: "/images" %}
{% include header.html %}
    {{ content | replace: '<img src="/images', assets_images_url }}
{% include footer.html %}
